
{% extends 'base.html' %}
{% load static %}

{% block mainheadings %}
    <div class="main-heading_box">
        {% for i in path %}
                <div class="main-heading">{{i}}</div>
        {% endfor %}
     </div>
{% endblock %}




        {% block content %}
<div class="facts-heading"> Charts</div>
<div class="result22">


                                
                             <div id = "1"></div>
                             <div id = "2"></div>
  					<button id="chartbutton">Expand more Chart     +</button>

                             <div id = "3"></div>
                             <div id = "4"></div>
                             <div id = "5"></div>






</div>
{% endblock %}


{% block content1 %}
<div class="facts-heading"> Raw data</div>
<div class="leftbottom">
                                        <pre class="heading">{{header1}}</pre>
                                    {% for i in data1 %}
                                                                {% if "India" in i%}
                                                                        <pre class="belowheading"><a href="/india">{{i}}</a></pre>
                                                                {% else %}
                                                                        <pre class="belowheading2">{{i}}</pre>
                                                                {% endif %}

                                    {% endfor%}
</div>

{% endblock %}
{% block forscript %}
{{ block.super }}
<script>
                                document.getElementById("chartbutton").addEventListener("click",
                                function (){
                                                let aaa=document.getElementById("3").innerHTML;
                                                if (aaa==''){
                                                          google.charts.setOnLoadCallback ( function() { drawChart ( {{ googledata2|safe}},'3','{{type3}}','{{ title3 }}','{{xlable3}}','{{ylable3}}' ) });                 
//                                                        google.charts.setOnLoadCallback ( function() { drawChart ( {{ googledata3|safe}},'4','{{type4}}','{{ title4 }}','{{xlable4}}','{{ylable4}}') });

                                                        document.getElementById("chartbutton").innerText="Collapse Chart     -";
                                                        document.getElementById("chartbutton").style.borderBottomLeftRadius=0;
                                                        document.getElementById("chartbutton").style.borderBottomRightRadius=0;
                                                            }
                                                else {
                                                        document.getElementById("3").innerHTML="";
                                                        document.getElementById("4").innerHTML="";
                                                        document.getElementById("chartbutton").innerText="Expand more Chart     +";
                                                        document.getElementById("chartbutton").style.borderBottomLeftRadius="20px";
                                                        document.getElementById("chartbutton").style.borderBottomRightRadius="20px";
                                                        }
                                        });
                               google.charts.setOnLoadCallback ( function() { drawChart ( {{ googledata |safe}},'1','{{type1}}','{{ title1 }}','{{xlable1}}','{{ylable1}}') });
                               google.charts.setOnLoadCallback ( function() { drawChart ( {{ googledata1|safe}},'2','{{type2}}','{{ title2 }}','{{xlable2}}','{{ylable2}}') });
                      </script>

	<script>
         google.charts.setOnLoadCallback ( function() { drawChart ( {{ googledata|safe }},'1','{{type1}}','{{ title1 }}','{{xlable1}}','{{ylable1}}') });
         google.charts.setOnLoadCallback ( function() { drawChart ( {{ googledata1|safe}},'2','{{type2}}','{{ title2 }}','{{xlable2}}','{{ylable2}}') });
//         google.charts.setOnLoadCallback ( function() { drawChart ( {{ googledata2|safe}},'3','{{type3}}','{{ title3 }}','{{xlable3}}','{{ylable3}}') });
      </script>

{% endblock %}

